<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Stablecoin Watch</title>
        <link rel="stylesheet" type="text/css" href="/style.css" />
        <link rel="stylesheet" type="text/css" href="/style1.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <!-- Header -->
        <%- include('partials/header') %>
        <!-- Header -->

        <main>
            <% if( totalSupplyOnChain ) { %>
            <section class="wrapper">
                <!-- Row title -->
                <main class="row title">
                    <ul class="coinstats">
                        <li class="rank">#</li>
                        <li class="name">Blockchain</li>
                        <li>Token Type</li>
                        <li># on Chain</li>
                        <li>Stablecoin Dominance</li>
                    </ul>
                </main>
                <% let i = 0; %> <% for( let [chain, data] of
                Object.entries(totalSupplyOnChain)) { %>
                <!-- Row X -->
                <article class="row type<%=i%4+1%>">
                    <ul class="coinstats">
                        <li class="rank"><%= ++i %></li>
                        <li class="name">
                            <strong><a href="#"><%= chain %></a></strong>
                        </li>
                        <li>(token type)</li>
                        <li><%= data.str %></li>
                        <li>(dominance)</li>
                    </ul>
                    <ul class="more-content">
                        <li class="split">
                            <%#= coin.desc %>
                        </li>
                    </ul>
                </article>
                <% } %>
            </section>
            <% } else { %>
            <p>
                Something went wrong. Please let me know so I can fix the issue!
                cryptonymous@protonmail.com
            </p>
            <% } %>
        </main>
        <!-- Footer -->
        <%- include('partials/footer') %>
        <!-- Footer -->
    </body>
</html>
