<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Stablecoin Watch</title>
    <link rel="stylesheet" type="text/css" href="/common.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>

        .row ul.coinstats > li {
            margin: 0;
            font-size: 16px;
            display: inline-block;
            width: 12%;
            box-sizing: border-box;
            padding: 5px 10px;
            text-align: center;
            vertical-align: middle;
        }

        .row ul.coinstats > li.coinrank {
            width: 5%;
            text-align: center;
        }
        
        .row ul.coinstats > li.name {
            width: 17%;
            justify-content: left;
            text-align: left;
            margin: 0;
            padding: 0;
        }

        .row ul.coinstats > li.platform {
            width: 17%;
            justify-content: left;
            text-align: left;
            margin: 0;
            padding: 0;
        }

        .row ul.coinstats > li.symbol {
            justify-content: left;
            text-align: left;
            margin: 0;
            padding: 0;
        }

        img.coin_logo {
            width: 20px;
            height: 20px;
            padding-right: 5px;
        }

        .split * {
            box-sizing: border-box;
        }

        .split:after {
            content: '';
            display: table;
            clear: both;
        }

        /****************************************
                Platform / Supply List
        *****************************************/
        .supply_list li {
            padding: 0;
            top: 0;
            font-size: 14px;
            list-style: none;
        }

        .p_grid {
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-template-areas:
                'a b';
            align-items: center;
            margin: auto;
        }

        .p_grid .a {
            grid-area: a;
            text-align: left;
        }

        .p_grid .b {
            padding-left: 5px;
            grid-area: b;
            text-align: right;
        }

        /****************************************
                Mobile Support
        *****************************************/

        @media only screen and (max-width: 767px) {
            main {
                width: 100%;
                overflow-x: auto;
            }
            .tbl_wrapper { 
                width: 700px;
            }
            .supply_list li {
                font-size: 12px;
            }

            .row ul.coinstats > li {
                font-size: 12px;
            }

            .row ul.coinstats > li.name {
                width: 13%;
            }
            
            .row ul.coinstats > li.platform {
                width: 21%;
            }
        }

    </style>
</head>
<body>
    <div id="wrapper">

        <!-- Header -->
        <%- include('partials/header') %>
        <!-- Header -->
        <main>
            <% if (data.stablecoins) { %>
                <section class="tbl_wrapper">
                    <!-- Row title -->
                    <main class="row title">
                        <ul class="coinstats">
                            <li class="coinrank">#</li>
                            <li class="name">Name</li>
                            <li class="symbol">Symbol</li>
                            <li>Price</li>
                            <li>Market Cap</li>
                            <li class='mcap_dom'>MCap Dominance</li>
                            <li>Volume (24h)</li>
                            <!-- <li>Volume Dominance</li> -->
                            <li class="platform">Platform</li>
                        </ul>
                    </main>

                    <!-- for each coin -->
                    <% let i = 0; %>
                    <% data.stablecoins.forEach((coin) => {  %>

                        <!-- if no data, skip this coin -->
                        <% if (!coin.name || !coin.symbol) return; %>
                        <% i++; %>

                        <!-- Row X -->
                        <article class="row expand type<%=i%4+1%>">

                            <ul class="coinstats">

                                <!-- rank -->
                                <li class="coinrank"><%= i %></li>

                                <!-- name -->
                                <li class="name">
                                	<strong><a href="/coins/<%= coin.uri %>"><%= coin.name %></a></strong>
                                </li>

                                <!-- symbol -->
                                <li class="symbol">
                                    <% let img = coin.img_url; %>
                                    <% if(!img) img = '/default-logo.png'; %>
                                    <img class="coin_logo" src="<%= img %>" alt="" />
                                    <%= coin.symbol %>
                                </li>

                                <!-- price -->
                                <% if (coin.main.price) { %>
                                    <li><%= formatter.formatPrice(coin.main.price) %></li>      
                                <% } else { %>
                                    <li>No data</li>
                                <% } %>

                                <!-- market cap -->
                                <% if (coin.main.circulating_mcap_s) { %>
                                    <li><%= coin.main.circulating_mcap_s %></li>
                                <% } else if (coin.scw.circulating_mcap_s) { %>
                                    <li><%= coin.scw.circulating_mcap_s %></li>
                                <% } else { %>
                                        <li>No data</li>
                                <% } %>

                                <!-- market cap dominance -->
                                <% if (coin.main.circulating_mcap && data.metrics.totalMCap) { %>
                                    <li class='mcap_dom'>
                                        <%= formatter.formatPercentage((coin.main.circulating_mcap/data.metrics.totalMCap)*100, 2) %>
                                    </li>
                                <% } else { %>
                                    <li class='mcap_dom'>
                                        No data
                                    </li>
                                <% } %>

                                <!-- volume -->
                                <% if (coin.main.volume_s) { %>
                                    <li><%= coin.main.volume_s %></li>
                                <% } else { %>
                                    <li>No data</li>
                                <% } %>

                                <!-- platforms -->
                                <li class="platform">
                                    <% if (coin.platforms.length === 1) { %>
                                        <%= coin.platforms[0].name %>
                                    <% } else if (coin.platforms.length <= 3) { %>
                                        <%= coin.platforms.map(p => p.name).join(', ') %>
                                    <% } else { %>
                                        <%= coin.platforms.slice(0, 2).map(p => p.name).join(', ') %> + <%= coin.platforms.length - 2 %> more
                                    <% } %>
                                </li> 
                            </ul>
                        </article>
                    <% }) %> <!-- forEach coin -->
                </section>
            <% } else { %>
                <p>Something went wrong.</p>
            <% } %>
        </main>
        <!-- Footer -->
        <%- include('partials/footer') %>
        <!-- Footer -->
    </div>
</body>
</html>