<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Stablecoin Watch</title>
        <link rel="stylesheet" type="text/css" href="/style.css" />
        <link rel="stylesheet" type="text/css" href="/style1.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <!-- Footer -->
        <%- include('partials/header') %>
        <!-- Footer -->

        <main>
            <% if( coins ) { %>
            <section class="wrapper">
                <!-- Row title -->
                <main class="row title">
                    <ul class="coinstats">
                        <li class="rank">#</li>
                        <li class="name">Name</li>
                        <li class="symbol">Symbol</li>
                        <li>Market Cap</li>
                        <li>Market Cap Dominance</li>
                        <li>Volume</li>
                        <li>Volume Dominance</li>
                        <li>Type</li>
                    </ul>
                </main>
                <% coins.forEach( (coin, i) => { %>
                <!-- Row X -->
                <article class="row type<%=i%4+1%>">
                    <ul class="coinstats">
                        <li class="rank"><%= (i+1) %></li>
                        <li class="name">
                            <strong><a href="#"><%= coin.name %></a></strong>
                        </li>
                        <li class="symbol"><%= coin.symbol %></li>
                        <li><%= coin.mcap_s %></li>
                        <li>
                            <%= ((coin.mcap/totalMCap)*100).toFixed(2) %>%
                        </li>
                        <li><%= coin.volume_s %></li>
                        <li>
                            <%= ((coin.volume/totalVolume)*100).toFixed(2) %>%
                        </li>
                        <% if ( coin.name == "Tether" ) { %>
                        <li class="type">
                            <ul class="supply_list">
                                <li>
                                    ERC-20: <%= ( ( coin.eth_supply / coin.mcap
                                    ) * 100 ).toFixed() %>%
                                </li>
                                <li>
                                    Omni: <%= ( ( coin.btc_supply / coin.mcap )
                                    * 100 ).toFixed() %>%
                                </li>
                                <li>
                                    TRC-20: <%=
                                    ((1-((coin.eth_supply/coin.mcap)+(coin.btc_supply/coin.mcap)))*100).toFixed()
                                    %>%
                                </li>
                            </ul>
                        </li>
                        <% } else if ( coin.name == "Stably Dollar" ) { %>
                        <li class="type">
                            <ul class="supply_list">
                                <li>
                                    ERC-20: <%=
                                    ((coin.eth_supply/coin.mcap)*100).toFixed()
                                    %>%
                                </li>
                                <li>
                                    BEP2: <%= ( 100 -
                                    (coin.eth_supply/coin.mcap)*100).toFixed()
                                    %>%
                                </li>
                            </ul>
                        </li>

                        <% } else { %>
                        <li class="type">
                            <%= coin.type %>
                        </li>
                        <% } %>
                    </ul>
                    <ul class="more-content">
                        <li class="split">
                            <%= coin.desc %>
                        </li>
                    </ul>
                </article>
                <% }) %>
            </section>
            <% } else { %>
            <p>Something went wrong.</p>
            <% } %>
        </main>
        <!-- Footer -->
        <%- include('partials/footer') %>
        <!-- Footer -->
    </body>
</html>
