<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Stablecoin Watch</title>
        <link rel="stylesheet" type="text/css" href="/common.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <style>
            .supply_list li {
                padding: 0;
                top: 0;
                font-size: 14px;
                list-style: none;
                transform: translateY(-20px);
            }

            @media only screen and (max-width: 767px) {
                .supply_list li {
                    font-size: 10px !important;
                }
            }
            .row ul.coinstats > li {
                margin: 0;
                font-size: 16px;
                font-weight: normal;
                list-style: none;
                display: inline-block;
                width: 13%;
                box-sizing: border-box;
                display: inline-flex;
                padding: 5px 10px;
            }

            .title ul.coinstats li {
                padding: 15px 13px;
                font-weight: bold;
            }

            .name {
                width: 17% !important;
                text-align: left !important;
            }

            .coinrank {
                width: 5% !important;
                text-align: center;
            }

            .platform {
                font-size: 12px;
                text-align: right;
            }

            /* expand more content */
            ul.more-content li.split {
                position: relative;
                top: 13px;
                font-size: 13px;
                margin: 0;
                padding: 6px 13px;
                /* padding: 0 10px; */
                display: block;
                height: 50px;
                /* width: 100%; */
            }

            @media only screen and (max-width: 767px) {
                ul.more-content li.split {
                    font-size: 11px;
                }
            }

            .expand:hover {
                height: 105px;
            }

            .more-content {
                display: none;
            }

            .more-content li {
                padding: 0px;
                text-align: inherit;
            }

            .expand:hover > .more-content {
                display: block;
            }

            @media only screen and (max-width: 767px) {
                .expand:hover {
                    height: 125px;
                }
            }

            @media only screen and (max-width: 359px) {
                .expand:hover {
                    height: 145px;
                }
            }

            .split * {
                box-sizing: border-box;
            }

            .split:after {
                content: '';
                display: table;
                clear: both;
            }
        </style>
    </head>
    <body>
        <!-- Header -->
        <%- include('partials/header') %>
        <!-- Header -->
        <main>
            <% if( coins ) { %>
            <section class="wrapper">
                <!-- Row title -->
                <main class="row title">
                    <ul class="coinstats">
                        <li class="coinrank">#</li>
                        <li class="name">Name</li>
                        <li class="symbol">Symbol</li>
                        <li>Market Cap</li>
                        <li>Market Cap Dominance</li>
                        <li>Volume (24h)</li>
                        <li>Volume Dominance</li>
                        <li>platform</li>
                    </ul>
                </main>
                <% coins.forEach( (coin, i) => { %>
                <!-- Row X -->
                <article class="row expand type<%=i%4+1%>">
                    <ul class="coinstats">
                        <li class="coinrank"><%= (i+1) %></li>
                        <li class="name">
                            <strong><a href="#"><%= coin.name %></a></strong>
                        </li>
                        <li class="symbol"><%= coin.symbol %></li>
                        <li><%= coin.mcap_s %></li>
                        <li>
                            <%= ((coin.mcap/totalMCap)*100).toFixed(2) %>%
                        </li>
                        <li><%= coin.volume_s %></li>
                        <li>
                            <%= ((coin.volume/totalVolume)*100).toFixed(2) %>%
                        </li>
                        <!-- TODO: Make this dynamic for any cross-chain coin -->
                        <% if ( coin.name == "Tether" ) { %>
                        <li class="platform">
                            <ul class="supply_list">
                                <li>
                                    ERC-20: <%= ( (
                                    coin.chain_supply.Ethereum.num / coin.mcap )
                                    * 100 ).toFixed() %>%
                                </li>
                                <li>
                                    Omni: <%= ( ( coin.chain_supply.Bitcoin.num
                                    / coin.mcap ) * 100 ).toFixed() %>%
                                </li>
                                <li>
                                    TRC-20: <%= ( ( coin.chain_supply.Tron.num /
                                    coin.mcap ) * 100 ).toFixed() %>%
                                </li>
                            </ul>
                        </li>
                        <% } else if ( coin.name == "Stably Dollar" ) { %>
                        <li class="platform">
                            <ul class="supply_list">
                                <li>
                                    ERC-20: <%=
                                    ((coin.chain_supply.Ethereum.num/coin.mcap)*100).toFixed()
                                    %>%
                                </li>
                                <li>
                                    BEP2: <%= ( 100 -
                                    (coin.chain_supply.Ethereum.num/coin.mcap)*100).toFixed()
                                    %>%
                                </li>
                            </ul>
                        </li>

                        <% } else { %>
                        <li class="platform">
                            <%= coin.platform %>
                        </li>
                        <% } %>
                    </ul>
                    <ul class="more-content">
                        <li class="split">
                            <%= coin.desc %>
                        </li>
                    </ul>
                </article>
                <% }) %>
            </section>
            <% } else { %>
            <p>Something went wrong.</p>
            <% } %>
        </main>
        <!-- Footer -->
        <%- include('partials/footer') %>
        <!-- Footer -->
    </body>
</html>
